@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/snakebkrd.jpg.JPG"); 
    background-color: chartreuse;
    min-height: 100vh;
    background-size: 73.32vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creator{
    padding: 7px 10px;
    background-color: #122;
    border-radius: 4px;
    color: #fff;
    float: right;
    position: fixed;
    left: 15px;
    bottom: 15px;
    font-family: Montserrar;
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin"', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(77, 218, 140), rgb(109, 109, 51));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(121, 2, 121), rgb(6, 164, 255));
    border: 2px solid rgb(255, 3, 3); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid rgb(255, 255, 255);
    border-radius: 12px;
}

.food{
    background: linear-gradient(rgba(104, 255, 3, 0.548), rgba(2, 84, 235, 0.541));
    border: .25vmin solid rgb(255, 3, 3);
    border-radius: 8px;
}
